basePath: /api/v1
definitions:
  db.User:
    properties:
      created_at:
        type: string
      deleted_at:
        type: string
      email:
        type: string
      first_name:
        type: string
      is_admin:
        type: boolean
      is_verified:
        type: boolean
      last_name:
        type: string
      modified_at:
        type: string
      password_hash:
        type: string
      score:
        type: integer
      streak:
        type: integer
      uuid:
        type: string
    type: object
  errors.ErrorResponse:
    properties:
      code:
        example: VALIDATION_ERROR
        type: string
      error:
        example: Error message describing what went wrong
        type: string
    type: object
  users.CreateUserRequest:
    properties:
      email:
        example: john.doe@example.com
        type: string
      first_name:
        example: John
        type: string
      is_admin:
        example: false
        type: boolean
      is_verified:
        example: false
        type: boolean
      last_name:
        example: Doe
        type: string
    required:
    - email
    - first_name
    - last_name
    type: object
  users.IDRequest:
    properties:
      uuid:
        type: string
    required:
    - uuid
    type: object
  users.UpdateRequest:
    properties:
      first_name:
        example: John
        type: string
      is_admin:
        example: false
        type: boolean
      is_verified:
        example: false
        type: boolean
      last_name:
        example: Doe
        type: string
      uuid:
        type: string
    required:
    - uuid
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is the Codim API server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Codim API
  version: "1.0"
paths:
  /users:
    get:
      consumes:
      - application/json
      description: Get a paginated list of users
      parameters:
      - default: 10
        description: 'Limit (default: 10)'
        in: query
        name: limit
        type: integer
      - default: 0
        description: 'Offset (default: 0)'
        in: query
        name: offset
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/db.User'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
      summary: List users
      tags:
      - users
  /users/{uuid}:
    get:
      consumes:
      - application/json
      description: Get a single user by UUID
      parameters:
      - description: User UUID
        in: path
        name: uuid
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/db.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
      summary: Get a user by UUID
      tags:
      - users
  /users/create:
    post:
      consumes:
      - application/json
      description: Create a new user (admin function, can set is_admin)
      parameters:
      - description: User creation data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/users.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/db.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
      summary: Create a new user
      tags:
      - users
  /users/delete/{uuid}:
    delete:
      consumes:
      - application/json
      description: Soft delete a user by UUID (sets deleted_at timestamp)
      parameters:
      - description: User UUID
        in: path
        name: uuid
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
      summary: Delete a user
      tags:
      - users
  /users/register:
    post:
      consumes:
      - application/json
      description: Register a new user (public registration, sets is_admin to false)
      parameters:
      - description: User registration data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/users.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/db.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
      summary: Register a new user
      tags:
      - users
  /users/restore:
    post:
      consumes:
      - application/json
      description: Restore a soft-deleted user by UUID (sets deleted_at to NULL)
      parameters:
      - description: User UUID
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/users.IDRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
      summary: Restore a deleted user
      tags:
      - users
  /users/update:
    put:
      consumes:
      - application/json
      description: Update an existing user by UUID
      parameters:
      - description: User update data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/users.UpdateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/db.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.ErrorResponse'
      summary: Update a user
      tags:
      - users
schemes:
- http
- https
swagger: "2.0"
